<?xml version='1.0' encoding='utf-8'?>
<widget id="com.soki.kiriapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kiribati</name>
    <description>
        La aplicacion oficial de la Kiribati Una Vieja Aventura. Estreno Junio 2015
    </description>
    <author email="info@sokistudio.com" href="http://www.sokistudio.com">
        Soki Studio
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="Fullscreen" value="true" />
</widget>
